// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #24305E;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #31333B;
$light-gray-white: #F9F9F9;
$light-white: #FFFFFF;

// Custom:
$my-red-dark: #FA5659;
$my-red-middle: #FF6968;
$my-red-light: #FF9495;

$kingblue: #4E61BD;
$lightblue: #8CCDD0;
$lightpink: #FAABAB;
$lightgreen: #F0F8E9;
