.profile_page_form {
  width: 200px;
  height: 10em;
}

.cancel-account {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.cancel-account buttonNoFill {
  font-size: 5px;
}

.back {
  text-align: right;
  margin: 30px;
}
