// Specific CSS for your home-page
/* The hero image */
* {
  box-sizing:border-box;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("main_photo.jpg");
    /* Set a specific height */
    width: 100%;
    height: 80vh;
    /* Position and center the image to scale nicely on all screens */
    background-size: cover !important;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
  }

/* Place text in the middle of the image */
.hero-text {
  color: white;
  opacity: 0.9;
}
.hero-text h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  color: white;
  font-size: 10vw;
}

.searchBar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  float: right;
  border: none;
  border-radius: 3px;
  margin-right: -10px;
}
.searchBar input[type=text] {
  width: 150%;
  border: 1px solid #ccc;
  padding-left: 10px;
  height: 40px;
  resize: vertical;
  border-radius: 3px;
  float: right;
}

.searchSubmit {
  float: left;
}


.banner100 {
  display: flex;
  color: grey;
  text-align: center;
  height: 250px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
.banner100 h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  width: 27%;
  min-width: 175px;
  height: 100%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  padding: 20px;
  overflow: hidden;
  p {
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
  }
}
.desc-left {
  left: 0;
}
.desc-right {
  right: 0;
}


.banner101 {
  display: flex;
  color: grey;
  text-align: center;
  height: 255px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.img1 {
  background-image: url("home_pic3.jpg");
}
.img2 {
  background-image: url("home_pic6.jpg");
}
.img3 {
  background-image: url("home_pic7.jpg");
}
.img4 {
  background-image: url("home_pic5.jpg");
}

@media screen and (max-width: 767px) {
  .searchBar, {
    width: 100%;
    float: left;
    justify-content: flex-start;
    margin-bottom: 2px;
  }
  .searchBar input[type=text] {
    width: 90vw;
    float: left;
  }
  .banner101 h1 {
    font-size: 10vw;
  }
  .banner101 .content p {
    font-size: 1.9rem;
  }
}
