// section Statistics

.cardStat {
  margin-left: 190px;
  padding: 20px;
  margin: 20px;
  height: 400px;
  // // display: grid;
  // // grid-template-rows: 100%;
  // grid-template-columns: 25% 25% 25% 25%;
}
.StatTitle{
  margin-left: 50px;
  position: relative;
}
.community{
  // grid-row: 1/span 1;
  // grid-column: 1/span 1;
  padding: 20px;
  margin: 10px;
  width: 25%;
  min-width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // background-color: #F9EBEC;

}
.environment{
  // grid-row: 1/span 1;
  // grid-column: 2/span 1;
  padding: 20px;
  margin: 10px;
  width: 25%;
  min-width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // background-color: #F0F8E9;
}
.facilities{
  // grid-row: 1/span 1;
  // grid-column: 3/span 1;
  padding: 20px;
  margin: 10px;
  width: 25%;
  min-width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // background-color: #FBEED6;
}

.comfort{
  // grid-row: 1/span 1;
  // grid-column: 4/span 1;
  padding: 20px;
  margin: 10px;
  width: 25%;
  min-width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // background-color: #EDFFFA;
}


.row.row-margin {
  // margin-right: 15px;
}


// CARDS WITH STATS:
.card-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 400px;
  // width: 25%;
  max-width: 300px;
  margin: 50px 20px;
  background-color: #FFF;
  -webkit-box-shadow: 2px 1px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 2px 1px 5px 0px rgba(100, 100, 100, 0.75);
}

.card-img-top {
  float: left;
  display: flex;
  position: relative;
  height: 120px;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.75);
  overflow: hidden;
  h1 {
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  h1 span {
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

img.top {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.stat-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  height: 60px;
  width: 90%;
  background-color: #a6d86b;
  border-radius: 2px;
  color: white;
  overflow: hidden;
  h1 {
    position: absolute;
    margin: auto;
    left: 63px;
    width: 47%;
    color: white;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 900;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  img {
    position: absolute;
    left: 10px;
  }
}
