
// section Statistics
.main_page-hero-image2 {
  /* Use “linear-gradient” to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("main_page_run.jpeg");

   /* Set a specific height */
   height: 50vh;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   box-shadow: 0 1px 3px rgba(0,0,0,0.6);
   color: white;
   text-align: center;
   padding: 100px;
 }
 .cardStat {
  margin-left: 190px;
  padding: 20px;
  margin: 20px;
  height: 400px;
  // // display: grid;
  // // grid-template-rows: 100%;
  // grid-template-columns: 25% 25% 25% 25%;
}
.StatTitle{
  margin-left: 50px;
  position: relative;
}
.community{
  // grid-row: 1/span 1;
  // grid-column: 1/span 1;
  padding: 20px;
  margin: 10px;
  width: 25%;
  min-width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // background-color: #F9EBEC;

}
.environment{
  // grid-row: 1/span 1;
  // grid-column: 2/span 1;
  padding: 20px;
  margin: 10px;
  width: 25%;
  min-width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // background-color: #F0F8E9;
}
.facilities{
  // grid-row: 1/span 1;
  // grid-column: 3/span 1;
  padding: 20px;
  margin: 10px;
  width: 25%;
  min-width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // background-color: #FBEED6;
}

.comfort{
  // grid-row: 1/span 1;
  // grid-column: 4/span 1;
  padding: 20px;
  margin: 10px;
  width: 25%;
  min-width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // background-color: #EDFFFA;
}


.row.row-margin {
  // margin-right: 15px;
}
