// section ReviewsLocals
.main_page-hero-image3 {
  /* Use “linear-gradient” to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("main_page_lifestyle.jpeg");

   /* Set a specific height */
   height: 50vh;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   box-shadow: 0 1px 3px rgba(0,0,0,0.6);
   color: white;
   text-align: center;
   padding: 40px;
 }
 .cardReviewsLocals {
   display: flex;
   justify-content: space-around;
   border: none;
 }
 .reviewTitle{
   margin-left: 50px;
 }
 .review{
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 150px;
   width: 300px;
   height: 300px;
   border-radius: 5px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.6);
   background-size: cover !important;
 }

