// section Picture
.cardGridPicture {
 height: 400px;
 margin-top: 100px;
 margin-left: 60px;
 margin-right: 60px;
 margin-bottom: 80px;
 background-size: cover !important;
 border: none;
 display: grid;
 grid-template-rows: 1fr 1fr;
 grid-template-columns: 60% 40%;
}
.cardPictureCommune {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
  position: relative;
  margin-right: 30px;
}
.commune-modal {
  position: absolute;
}
.smallcardPictureNeightbourhood {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 100px;
}
.pictures-modal{
  position: absolute;
  top: 165px;
  right: 20px;
}
.bigcardPictureNeighbourhood {
  grid-row: 1/span 2;
  grid-column: 2/span 1;
  height: 450px;
  background-size: cover !important;
  border: none;
}

// new layout:

// 2x CARDS WITH NEIGHBOURHOOD & COMMUNE:
.card-neighbourhood {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 600px;
  margin: 20px 0px;
  background-color: #FFF;
  -webkit-box-shadow: 2px 1px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 2px 1px 5px 0px rgba(100, 100, 100, 0.75);
  border-radius: 3px;
  h5 {
    color: #666666;
    padding: 0 25px;
    align-self: flex-start;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    color: #666666;
    align-self: flex-start;
    text-align: justify;
    font-size: 1.8rem;
    margin: 15px 25px;
    a {
      text-decoration: none;
    }
  }
  .userImageSlider {
    // margin: 20px 20px;
    // width: 100%
  }
  // carousel
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    // height: 300px;
    max-height: 350px;
  }
  .carousel-inner > .item > .carousel-caption > p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
  }
   .carousel-inner > .item > .carousel-caption > p span {
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .carousel-inner > .item > .user-avatar {
    position: absolute; // test (original: absolute)
    right: 22px;
    top: 22px;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 50%;
  }
}

.card-neighbourhood-bar {
  display: flex;
  align-items: center;
  margin: 20px;
  position: relative;
  height: 72px;
  width: 93%;
  background-color: #f5f5f5;;
  border-radius: 3px;
  color: white;
  overflow: visible;
  h1 {
    position: absolute;
    margin: auto;
    left: 10px;
    color: #666666;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  h1 span {
    color: #fc6a6a;
    font-weight: bold;
  }
  h6 {
    position: absolute;
    right: 12px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 38px;
    font-weight: 900;
    text-shadow: 2px 2px rgba(50, 50, 50, 0.2);
  }
  h6 span {
    background: green;
    -moz-box-shadow: 0 0 0 10px green;
    -webkit-box-shadow: 0 0 0 10px green;
    border-radius: 50%;
    box-shadow: 0 0 0 10px green;
    padding-right: 2px;
  }
}


// responsiveness on smaller screens:
@media screen and (max-width: 992px) and (min-width: 769px) {
  .card-neighbourhood-bar h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .card-neighbourhood .carousel-inner > .item > .user-avatar {
    right: 20px;
    top: 15px;
    height: 43px;
    width: 43px;
    }
}
