<fieldset>
<legend><h5> Community </h5></legend>
  <ul>
    <li>
    "#{}%  Neighbourhood friendlyness"
    </li>
    <li>
    "#{}%  Community events going on"
    </li>
    <li>
    "#{}%  Likely spend 5+ years there"
    </li>
  </ul>
</fieldset>

<fieldset>
<legend><h5> Environment </h5></legend>
<ul>
  <li>
  "#{}%  Quiet neighbourhood"
  </li>
  <li>
  "#{}%  Green area with parks ans trees"
  </li>
  <li>
  "#{}%  the neighbourhood is quite clean"
  </li>
</ul>
</fieldset>

<fieldset>
<legend><h5> Facilities </h5></legend>
<ul>
  <li>
  "#{}%  Easy to find a parking spot"
  </li>
  <li>
  "#{}%  Lots of parking spots/lots (cars)"
  </li>
  <li>
  "#{}%  Parking spots for bikes"
  </li>
  <li>
  "#{}%  Bike lanes"
  </li>
  <li>
  "#{}%  Connection to public transportation"
  </li>
</ul>
</fieldset>

<fieldset>
<legend><h5> Comfort </h5></legend>
<ul>
  <li>
  "#{}%  sidewalk and streets well maintained"
  </li>
  <li>
  "#{}%  public streets well lighted"
  </li>
  <li>
  "#{}%  Parking spots for bikes"
  </li>
  <li>
  "#{}%  playgrounds for children"
  </li>
  <li>
  "#{}%  Dog friendly area"
  </li>
</ul>
</fieldset>
