<% content_for(:navbar_class,"navbar-home") %>

<div class="hero-image">
  <div class="hero-text">
    <h1> Street Pulse </h1>
  </div>

  <!-- the search -->
  <div id="searchdestination">

    <div class="col-10 col-lg-8">
      <div class="searchBar">
        <%= form_tag(controller: "searches", action: "create", method: "post") do %>
        <%= text_field_tag(:search) %>
      </div>
      <div class="submit-search">
        <%= submit_tag "Discover", class: "btn btn-primary" %>
      </div>

      <% end %>
    </div>
  </div>

</div>

<br><br><br><br><br>

<div class="col-xs-12">
  <div class="home-section1">
    <div class="home-section-valueprop1">
      <h3> You decide of your neighbourhood </h3>
      <p> Type in your street and define the radius of your neighbourhood </p>
    </div>
    <div class="home-hero-image1">
    </div>
    <div class="home-section-valueprop2">
      <h3> Your neighbourhood in pictures </h3>
      <p> Take a look of the local pictures and get a feel of the atmosphere </p>
    </div>
    <div class="home-hero-image2">
    </div>
  </div>
  <div class="home-section2">
    <div class="home-hero-image3">
    </div>
    <div class="home-section-valueprop3">
      <h3> What locals say </h3>
      <p> You might know about an area but not so much about the small details of its neighbourhood </p>
    </div>
    <div class="home-hero-image4">
    </div>
    <div class="home-section-valueprop4">
      <h3> Homeseekers, tourists or just curious people </h3>
      <p> Let's discover the area from the reviews that locals share </p>
    </div>
  </div>
</div>
