<div class="hero-image">

  <div class="container">

    <div class="row">
      <div class="col-xs-12"">
        <!-- logo (text) -->
        <div class="hero-text">
          <h1> Street Pulse </h1>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <!-- the search -->
        <div class="searchBar">
          <%= form_tag(controller: "searches", action: "create", method: "post") do %>
          <%= text_field_tag(:search, nil) %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="searchSubmit">
          <%= submit_tag "Discover", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <% end %>

  </div>

</div>

<!-- =================== -->

<div class="banner100">
    <h1>Define the neighbourhood as you want</h1>
</div>

<div class="banner101 img1">
  <div class="content desc-left">
    <p>All you need to define the neighbourhood is to enter the address or street name and set desired radius.</p>
  </div>
</div>

<div class="banner100">
  <h1>See your neighbourhood in pictures</h1>
</div>

<div class="banner101 img2">
  <div class="content desc-right">
    <p>Take a look at pictures from locals and get a feeling of the atmosphere in the area.</p>
  </div>
</div>

<div class="banner100">
  <h1>Check what locals say</h1>
</div>

<div class="banner101 img3">
  <div class="content desc-left">
    <p>You might know about an area but not so much about the small details of its neighbourhood.</p>
  </div>
</div>

<div class="banner100">
  <h1>You're a homeseeker? Tourist? Or just curious?</h1>
</div>

<div class="banner101 img4">
  <div class="content desc-right">
    <p>Discover the neighbourhood based on authentic reviews shared here by locals.</p>
  </div>
</div>

<!-- =================== -->
