.carousel-inner {
  font-size: 50px;
  color: white;
  text-align: center;
  left: 0;
  right: 0;
  height: 600px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
.carousel-inner {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}
